@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 770px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
